@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  -webkit-transition: .2s;
  transition: .2s;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 10px;
}

.keyboard_wrapper {
  max-width: 1008px;
  width: 100%;
  background-color: #e7e7e7;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.keys {
  width: 60px;
  height: 60px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4px;
  -webkit-transition: .2s;
  transition: .2s;
  z-index: 5;
}

.ctrl_key {
  width: 80px;
}

.backspace_key {
  width: 120px;
}

.tab_key {
  width: 90px;
}

.slash_key {
  width: 90px;
}

.caps_lock_key {
  width: 128px;
}

.enter_key {
  width: 120px;
}

.shift_key {
  width: 124px;
}

.space_key {
  max-width: 425px;
  width: 100%;
}

.arrow_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.arrow_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.arrow_up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.arrow_down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text {
  max-width: 1008px;
  width: 100%;
  height: 400px;
  margin-bottom: 30px;
  border: none;
  outline: none;
  font-size: 26px;
  background-color: #f7f7f7;
  padding-left: 10px;
  -webkit-transition: .2s;
  transition: .2s;
  overflow: hidden;
  overflow-y: scroll;
}

.keys.active {
  background-color: #333;
  color: #fff;
}

.keys.remove {
  -webkit-animation: keys_animation 0.5s forwards;
          animation: keys_animation 0.5s forwards;
}

@-webkit-keyframes keys_animation {
  0% {
    background-color: #333;
    color: #fff;
  }
  100% {
    background-color: #fff;
    color: #000;
  }
}

@keyframes keys_animation {
  0% {
    background-color: #333;
    color: #fff;
  }
  100% {
    background-color: #fff;
    color: #000;
  }
}

body.active {
  background-color: #363636;
}

.night_mode {
  width: 80px;
  height: 30px;
  background-color: #e6e6e6;
  position: absolute;
  right: 25px;
  top: 25px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.night_mode.active {
  background-color: #222222;
}

.toggle_circle {
  width: 20px;
  height: 20px;
  background-color: #363636;
  border-radius: 50px;
  margin: 0 5px;
  position: absolute;
  left: 0;
  -webkit-transition: .2s;
  transition: .2s;
}

.toggle_circle.active {
  left: 60%;
  background-color: #fff;
}

.keyboard_wrapp.active {
  background-color: #585858;
}

.keys.keys_night {
  background-color: #3c3c3c;
  color: #fff;
}

.text.active {
  background-color: #2b2b2b;
  color: #fff;
}

.keys.keys_night.active {
  background-color: #fff;
  color: #333;
}

.keys.keys_night.remove {
  -webkit-animation: keys_night_animation 0.5s forwards;
          animation: keys_night_animation 0.5s forwards;
}

@-webkit-keyframes keys_night_animation {
  0% {
    background-color: #fff;
    color: #000;
  }
  100% {
    background-color: #333;
    color: #fff;
  }
}

@keyframes keys_night_animation {
  0% {
    background-color: #fff;
    color: #000;
  }
  100% {
    background-color: #333;
    color: #fff;
  }
}

.change_light_color {
  width: 100px;
  height: 50px;
  position: absolute;
  right: 150px;
  top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.colors {
  position: fixed;
  top: 80px;
  left: calc(100% - 9vw);
}

.colors_input {
  width: 100px;
  height: 50px;
  border: none;
  outline: none;
  background-color: transparent;
}

.keyboard_lights {
  position: absolute;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */